[Desktop Entry]
Comment=Game management
Exec=lutris -d
Icon=/opt/lutris/share/icons/hicolor/48x48/apps/lutris.png
Name=Lutris
NoDisplay=false
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
Categories=Game;
