[Desktop Entry]
Name=Warcraft_Logs
GenericName=wowlogs
Comment=world of warcraft logs uploader
Keywords=games;world of warcraft;
Exec=warcraft_logs
Terminal=false
Type=Application
Categories=Games;
Icon=/opt/apps/icons/warcraft_logs.png