#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Bitwarden
Comment=A secure and free password manager for all of your devices
Categories=Utility; Accessory;
Exec=/opt/AppInstalls/launchers/bitwarden.sh
Icon=/opt/AppInstalls/icons/bitwarden.png
