#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Bitwarden
Categories=Utilities; Accessories;
Exec=/opt/AppInstalls/launchers/bitwarden.sh
Icon=/opt/AppInstalls/icons/bitwarden.png
