#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Intellij Idea Community
Categories=Development; Programming;
Exec=/opt/AppInstalls/
Icon=/opt/AppInstalls/
