#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Raider.IO
Comment=WoW mythic+ client
Categories=Game;
Exec=/opt/AppInstalls/launchers/raiderio.sh
Icon=/opt/AppInstalls/icons/raiderio.png
