#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Warcraft Logs
Comment=WoW raid logging tool
Categories=Game;
Exec=/opt/AppInstalls/launchers/warcraft_logs.sh
Icon=/opt/AppInstalls/icons/warcraft_logs.png
