#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=WeakAuras Companion
Comment=WoW WeakAuras updating tool
Categories=Game;
Exec=/opt/AppInstalls/launchers/weakauras_companion.sh
Icon=/opt/AppInstalls/icons/weakauras.png
